<div id='view-contacts'>

  <div class='form-contact-add'>
    {{> contacts-form-contact-add}}
  </div>

  <div class='list'>
    {{> contacts-list}}
  </div>

  <div class='current-contact'>
    {{> contacts-current-contact}}
  </div>

</div>
