<form id='contact-add' action='/api/add' method='post'>
  <input type="hidden" name="_csrf" value="{{_csrf}}">
  <input name='name' type='text'>
  <button class='waves-effect btn' type='submit'>Add</button>
</form>
