<div id='view-contacts'>

  <div class='contacts-search'>
    {{> contacts-search}}
  </div>

  <div class='contacts-add'>
    {{> contacts-add}}
  </div>

  <div class='contacts-list'>
    {{> contacts-list}}
  </div>

  <div class='contacts-current'>
    {{> contacts-current}}
  </div>

  <a class="wsk-button wsk-js-button wsk-button--fab wsk-button--colored" id='contact-add-button' href='/contacts/add' data-nav><span class="wsk-icon wsk-icon--add"></span></a>

</div>
