<div id='view-contacts'>

  <div class='contacts-search'>
    {{> contacts-search}}
  </div>

  <div class='contacts-add'>
    {{> contacts-add}}
  </div>

  <div class='contacts-list'>
    {{> contacts-list}}
  </div>

  <div class='contacts-current'>
    {{> contacts-current}}
  </div>

</div>
