<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>{{title}}</title>

<body lang="en">

    <div class="container">
        <div><a href='/contacts' data-nav>Contacts</a></div>
        <div><a href='/account' data-nav>Account</a></div>
        {{{body}}}
    </div>

    <script>
        // data exposed by express-state
        {{{state}}}
    </script>

    <script src="/js/dist/0.1.3.contactlens.min.js"></script>

</body>

</html>
