<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#1976d2">

    <link rel="manifest" href="manifest.json">
    <link rel="icon" sizes="192x192" href="images/logo-app.png">
    <link rel="apple-touch-icon" href="images/logo-app.png">

    <title>{{title}}</title>

    <link href="/css/main.css" media="all" rel="stylesheet" type="text/css" />

<body lang="en">


  <div class="wsk-layout wsk-js-layout">
    <div class="wsk-layout__header">
      <span class="wsk-layout-title">Contact <strong>Lens</strong></span>
      <div class="wsk-layout-spacer"></div>
      <nav class="wsk-navigation">
        <a class="wsk-navigation__link" href="#hello">Hello</a>
        <a class="wsk-navigation__link" href="#get-started">Get Started</a>
        <a class="wsk-navigation__link" href="styleguide.html">Style Guide</a>
      </nav>
    </div>

    <main class="wsk-layout__content">

      <div class="container">
          <div><a href='/contacts' data-nav>Contacts</a></div>
          <div><a href='/account' data-nav>Account</a></div>
          {{{body}}}
      </div>

    </main>
  </div>

    <script>
        // data exposed by express-state
        {{{state}}}
    </script>

    <script src="/styleguide/wskComponentHandler.js"></script>
    <script src="/js/dist/0.1.3.contactlens.min.js"></script>
    <script src="/styleguide/layout/layout.js"></script>
    <script src="/styleguide/button/button.js"></script>
    <script src="/styleguide/textfield/textfield.js"></script>
    <script src="/styleguide/ripple/ripple.js"></script>
    <script src="/styleguide/third_party/rAF.js"></script>

</body>

</html>
