<div class='view'>

  <div class='form-contact-add'>
    {{> form-contact-add}}
  </div>

  <div class='contacts'>
    {{> contacts}}
  </div>

  <div class='current-user'>
    {{> current-user}}
  </div>
</div>
