/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

@import "../styleguide/layout/layout";

$button-height: 36px !default;
@import "../styleguide/button/button";

$card-width: auto !default;
$card-height: auto !default;
$card-heading-height: auto !default;
$card-caption-height: auto !default;
$card-lower-height: auto !default;
$card-bottom-height: auto !default;
$card-bottom-anchor-height: auto !default;
@import "../styleguide/card/card";


@import "../styleguide/textfield/textfield";

body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}
main {
  padding: 20px;
}

.container {
  position: relative;
}

html, body {
  color: $text-color-secondary;
}

h1, h2, h3, h4, h5 {
  color: $text-color-primary;
}


.wsk-button {
  text-decoration: none;
  text-align: center;
  line-height: $button-height;
}

.wsk-card--bottom button {
  background-color: transparent;
  text-align: left;
}

.overlay {
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contact-open, .contact-add {
  z-index: 20;

  position: fixed;
  max-width: 300px;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
