/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

@import "../styleguide/layout/layout";

$button-height: 36px !default;
@import "../styleguide/button/button";

$card-width: auto !default;
$card-height: auto !default;
$card-heading-height: auto !default;
$card-caption-height: auto !default;
$card-lower-height: auto !default;
$card-bottom-height: auto !default;
$card-bottom-anchor-height: auto !default;
@import "../styleguide/card/card";

@import "../styleguide/column-layout/column-layout";
@import "../styleguide/textfield/textfield";

body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

main {
}

.container {
  position: relative;
}

html, body {
  color: $text-color-secondary;
}

h1, h2, h3, h4, h5 {
  color: $text-color-primary;
}

.wsk-layout__content {
  padding: 20px;
}

.wsk-layout.is-small-screen #fixed_header_nav {
  visibility: hidden;
}

.wsk-column-layout__child {
  background-color: whitesmoke;
}

.wsk-button {
  text-decoration: none;
  text-align: center;
  line-height: $button-height;
}

.wsk-card--heading {
  padding: 16px 20px;
}

.wsk-card--bottom button {
  background-color: transparent;
  text-align: left;
}

a.wsk-button--fab .wsk-icon {
  top: 11px;
}

#contact-add-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.overlay {
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#contact-search {
  width: 250px;
  margin: 0 auto;

  .wsk-input {
    width: 50%;
    display: inline-block;
  }
}

.contact a {
  display: block;
  padding: 16px;
}

.contact-open, .contact-add {
  z-index: 20;

  position: fixed;
  max-width: 300px;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
