/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

 @import "../styleguide/layout/layout";
 @import "../styleguide/button/button";
 @import "../styleguide/textfield/textfield";

body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}
main {
  padding: 20px;
}

html, body {
  color: $text-color-secondary;
}

h1, h2, h3, h4, h5 {
  color: $text-color-primary;
}

$button-height: 36px !default;
.wsk-button {
  text-decoration: none;
  text-align: center;
  line-height: $button-height;
}
